doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=Edge")
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/static/css/mui.css')
    link(rel='stylesheet', href='/static/app.cd9bc5424eef049d6b0d0c5f91b854d6.css')
    link(rel='stylesheet', href='/static/fonts/iconfont/iconfont.css')
    script(src='/static/js/mui.js')
    
  body
    block content
